.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px;
}

.compositeDescription {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;  
    font-family: monospace;
    padding: 1rem;
}

.compositeDescriptionPlaceholder {
    color: lightgrey;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.protocolContainer{
    flex: 1;
}

.compositionsContainer{
    flex: 1;
    display: flex;

}

.codeOutputContainer {
    flex: 2;
    min-width: 25vw;
    max-width: 25vw;
    border: 2px solid red;
}
  
  .mainContent {
    display: flex;
    flex: 1;
  }
  
  .feedLog {
    width: 300px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  
  .content {
    flex: 1;
    padding: 1rem;
  }